<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:hti="http://hti.audit.bigsupermercados.com.br">
<head>
<title>Lançamento de auditoria - perguntas</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Lançamento de auditorias - perguntas</h1>
					</div>

					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/auditorias}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Pesquisa auditoria</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET">			 	
				<div class="row">
					<div class="col-sm-4">
						<label class="control-label">Código: </label>
						<label class="control-label" th:text="${setor.codigo}"></label> 
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<label class="control-label">Nome: </label>
						<label class="control-label" th:text="${setor.nome}"></label>
					</div>
				</div>
				
				<div class="table-responsive bw-tabela-simples">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="table-cervejas-col-sku">
									Código
								</th>
								<th class="table-cervejas-col-nome">
									Nome
								</th>
								<th class="table-cervejas-col-sku">
									Avaliação
								</th>
								<th class="table-cervejas-col-sku">
									Porcentagem
								</th>
							</tr>
						</thead>
		
						<tbody>
								<tr th:each="pergunta : ${perguntas}">
									<td class="text-center">
										<a  href="#"
											th:href="@{/auditorias/lancamentoResposta/{codigoAuditoria}/{codigoPergunta}/(codigoAuditoria=${codigoAuditoria},codigoPergunta=${pergunta.codigoPergunta})}" 
											th:text="${pergunta.codigoPergunta}"></a>
									</td>
									<td>
										<a  href="#"
											th:href="@{/auditorias/lancamentoResposta/{codigoAuditoria}/{codigoPergunta}/(codigoAuditoria=${codigoAuditoria},codigoPergunta=${pergunta.codigoPergunta})}" 
											th:text="${pergunta.pergunta}">
										</a>
									</td>
									<td class="text-center" th:text="|${pergunta.avaliacao == null ? 0 : pergunta.avaliacao}/5|">
										
									</td>
									<td th:text="(${pergunta.avaliacao == null ? 0 : pergunta.avaliacao}/5)*100">
									</td>
								</tr>
								<tr th:if="${#lists.isEmpty(perguntas)}">
									<td colspan="7">Nenhum tipo encontrado</td>
								</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</section>
</body>

</html>