<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:hti="http://brewer.algaworks.com">
<head>
	<title>Cadastro de perguntas</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Cadastro de perguntas</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/perguntas}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Pesquisa pergunta</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${pergunta}" class="form-vertical  js-form-loading" th:action="@{/perguntas/novo}">
				<hti:message />
				
				<input type="hidden" th:field="*{codigo}" />

				<div class="row">
					<div class="col-sm-12 form-group bw-required" hti:classforerror="nome">
						<label for="nome" class="control-label">Nome</label> 
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group bw-required">
						<label for="tipo" class="control-label">Tipo</label>
						<div class="bw-field-action">
							<select id="tipo" class="form-control">
								<option value="">Selecione o tipo</option>
								<option th:each="tipo : ${tipos}"
									th:value="${tipo.codigo}" th:text="${tipo.nome}">
								</option>
							</select>
						</div>
					</div>
					
					<div class="col-sm-3 form-group bw-required"
						hti:classforerror="setor">
						<label for="setor" class="control-label">Setor</label>
						<div class="bw-field-action">
							<select id="setor" class="form-control" th:field="*{setor}">
								<option value="">Selecione o setor</option>
								<option th:each="setor : ${setores}"
									th:value="${setor.codigo}" th:text="${setor.nome}">
								</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group">
						<label class="control-label" for="status">Mostrar comentário no formulário?</label>
						<div>
							<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
								data-on-text="Sim" data-off-text="Não" th:field="*{mostraComentario}"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>
</html>