<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:hti="http://brewer.algaworks.com">

<head>
<title>Relatório de auditoria</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Relatório de auditoria</h1>
		</div>
	</div>

	<div class="container-fluid">
		<form method="GET" th:object="${auditoria}" th:action="@{/relatorios/relatorioAuditoria}" target="_blank">

			<brewer:message />
			<div class="row">
				<div class="col-sm-3 form-group bw-required">
					<label for="tipo" class="control-label">Auditoria</label>
					<div class="bw-field-action">
						<select id="tipo" class="form-control" th:field="*{codigo}">
							<option value="">Selecione a auditoria</option>
							<option th:each="auditoria : ${auditorias}"
								th:value="${auditoria.codigo}" th:text="|${auditoria.codigo} - ${auditoria.nome}|">
							</option>
						</select>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary">Emitir</button>
		</form>
	</div>
</section>

</html>